<div class="row book">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-md-2">
        <%= image_tag(user_book.photo, class: "img-responsive", alt: "Responsive image") %>
      </div>
      <div class="col-md-6">
        <h4> <%= user_book.title %> </h4> <br>
        <%= user_book.authors.map(&:name).join(', ') %> <br>
        <% if (@comment = user_book.most_recent_comment(current_user)).present? %>
          <%= @comment.content %> says <%= @comment.user.username %>
        <% end %>
      </div>
      <div class="col-md-4">
        <% if user_signed_in? && current_user.does_not_have(user_book) %>
          <%= button_to "Add to MyReads", listed_books_path(asin: user_book.asin), class: "btn btn-default" %>

        <% elsif user_signed_in? && user == current_user %>
          <% unless (@display_div = recommendables.count == 0 && current_user.listed_book_from_book(user_book).order_index == 0 && current_user.last_listed_book?(current_user.listed_book_from_book(user_book)))  %> <div class="btn-group"> <% end %>
            <%= link_to "Mark as " + (has_read ? "unread" : "read"), listed_book_path(current_user.listed_book_from_book(user_book), is_read: !has_read), method: :patch, class: 'btn btn-default' %>
            <% if recommendables.count > 0 %>
              <div class="btn-group">
                <a class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                Recommend:
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

                <% recommendables.each do |recommendable| %>
                  <li role="presentation"><%= link_to(recommendable.username, recommendations_path(recipient: recommendable, book: user_book), method: :post, role: 'menuitem', tabindex: '-1') %> </li>
                <% end %>
              </ul>
            </div>
            <% end %>

            <% unless current_user.last_listed_book?(current_user.listed_book_from_book(user_book)) %>
              <%= link_to listed_book_path(current_user.listed_book_from_book(user_book), move: :down), method: :patch, class: 'btn btn-default'  do %> <span class="glyphicon glyphicon-chevron-down"></span>
              <% end %> <% end %>
            <% if current_user.listed_book_from_book(user_book).order_index > 0 %>
              <%= link_to listed_book_path(current_user.listed_book_from_book(user_book), move: :up), method: :patch, class: 'btn btn-default'  do %> <span class="glyphicon glyphicon-chevron-up"></span> <% end %> <% end %>
              <% unless @display_div %> </div> <% end %>
        <% elsif !user_signed_in? %>
          <%= button_to "Add to MyReads", new_user_session_path, method: :get, class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
