<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="text-center"><%= @user == current_user ? "Your Reads" : @user.username + "'s Reads" %> </h1>
  </div>
  <div class="col-md-2">
    <% if user_signed_in? && current_user.followees.include?(@user) %>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown">
          Following <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <% unless current_user.requested_user?(@user)%>
            <li><%= link_to("Request Follow", requests_path(recipient_id: @user), method: :post) unless @user.is_following?(current_user) %></li>
          <% else %>
            <li><%= link_to "Delete Request", request_delete_path(recipient_id: @user, user_id: current_user), method: :delete %> </li>
          <% end %>
          <li><%= link_to("Unfollow", user_follow_path(followee_id: @user.id), method: :delete)  %></li>
        </ul>
      </div>
    <% elsif user_signed_in? && @user != current_user %>
      <%= button_to("Follow", user_follows_path(@user), class: 'btn btn-primary btn-lg pull-right')  %>
    <% end %>
  </div>
</div>

<% @user_books.each do |user_book, reccomendable| %>
  <%= render partial: "user_book", locals: { user_book: user_book, recommendable: recommendable } %>
<% end %>
