<div class="row">
  <div class="panel panel-default">
    <div class="panel-body book">
      <div class="col-md-3">
        <%= image_tag(book.photo, class: "img-responsive", alt: "Responsive image") %>
      </div>
      <div class="col-md-6">
        <h4> <%= link_to book.title, book %> </h4> <br>
        <h5>By: <%= book.authors.map(&:name).join(', ') %></h5> <br>
        <% if (@comment = book.most_recent_comment(current_user)).present? %>

          <!-- I pass in the current user here so that it will only show comments
          from users that the current user is following -->

          <%= @comment.content %> says <%= link_to @comment.user.username, @comment.user %>
        <% end %>
        <%= "Recommended by: #{recommender.username}" if defined?(recommender).present? %>

      </div>
      <div class="col-md-3">
        <% if defined?(recommender).present? %> <div class="btn-group"> <% end %>
        <%= link_to "Add to MyReads", listed_books_path(asin: book.asin), method: :post, class: "btn btn-success" if user_signed_in? && current_user.does_not_have(book) %>
        <%= button_to "Add to MyReads", new_user_session_path, method: :get, class: "btn btn-success" unless user_signed_in? %>
        <%= link_to "Ignore request", recommendation_delete_path(user: recommender, recipient: current_user, book: book), method: :delete, class: "btn btn-danger" if defined?(recommender).present? %>
        <% if defined?(recommender).present? %> </div> <% end %>
      </div>
    </div>
  </div>
</div>
