<div class="row">
  <div class="col-md-3">
    <%= image_tag(@book.large_photo, class: "img-responsive text-left", alt: "Responsive image", style: "margin-left: -95px;") %>
  </div>
  <div class="col-md-9">
    <h1 class="text-center"><%= @book.title %></h1> <br>
    <h2 class="text-center"><%= @book.authors.map(&:name).join(', ') %></h2> <br>
    <h4 class="text-center"><%= @book.published_on %></h4>
  </div>
</div>

<div class="row">
  <h3 class="text-center">Comments</h3>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <%= form_for @comment, url: books_comment_path(@book.asin) do |f| %>
        <%= f.text_area :content, class: "form-control", placeholder: "Post a Comment" %>
         <div class="panel-footer">
          <%= f.button class: 'btn btn-success' do %>
            <span class="glyphicon glyphicon-ok"></span> Post
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: "comment", collection: @book.comments %>

